<h2><%= link_to movie.title, controller: 'movies', action: 'show', id: movie.id %>
<h2><%= link_to pluralize(movie.reviews.count, 'review'), controller: 'movies', action: 'show', id: movie.id, anchor: 'reviews' %></h2>
<%= image_tag movie.title_picture.url(:medium) %>
<p>Release date: <%= movie.release_date %></p><br />
<p>Rating: <%= movie.rating %></p><br />
<p>Genre: <%= movie.genre %></p><br />
<% if user_signed_in? %>
  <%= link_to "Write a review for #{movie.title}", controller: :reviews, action: :new, movie_id: movie.id %>
<% end %>
<hr>