<h1>Movies#all</h1>
<p>Find me in app/views/movies/all.html.erb</p>

<ul>
  <% @movies.each do |movie| %>
    <h2><%= link_to movie.title, controller: 'movies', action: 'show', id: movie.id %><h2><p><%= pluralize(movie.reviews.count, 'review') %></p>
    <%= image_tag movie.title_picture.url(:thumb) %>
    <p>Release date: <%= movie.release_date %></p><br />
    <p>Rating: <%= movie.rating %></p><br />
    <p>Genre: <%= movie.genre %></p><br />
    <% if user_signed_in? %>
      <%= link_to "Write a review for #{movie.title}", controller: :reviews, action: :new, movie_id: movie.id %>
    <% end %>
    <hr>
  <% end %>
</ul>
