<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>

<h2><%= @movie.title %></h2><br />
<p><%= @movie.release_date %></p><br />
<p><%= @movie.rating %></p><br />
<p><%= @movie.genre %></p><br />
<p><%= @movie.description %></p><br />
