<% if user_signed_in? %>
  <%= link_to "Write a review for #{@movie.title}", controller: :reviews, action: :new, movie_id: @movie.id %>
<% else %>
  <p><h3><%= link_to 'Sign in', new_user_session_path %></h3> to write a review</p>
<% end %>

<h2><%= @movie.title %></h2><br /><br />
User rating: <%= rating_for @movie, "user_rating", star: 5 %><br />
<%= image_tag @movie.title_picture.url(:large) %>
<p><%= @movie.release_date %></p><br />
<p><%= @movie.rating %></p><br />
<p><%= @movie.genre %></p><br />
<p><%= @movie.description %></p><br />

<hr>

<h2 id="reviews"><%= pluralize(@movie.reviews.count, 'reviews') %></h2><br />
<% @movie.reviews.each do |review| %>
  <p><%= review.user.email %> Wrote:</p><br />
  <p><%= review.content %></p><br />
  <p><small><%= review.created_at.to_formatted_s(:short) %></small></p><br /><br />
  <% if user_signed_in? %>
    <% if current_user.id == review.user_id %>
      <%= link_to 'Edit review', controller: :reviews, action: :edit, id: review.id %>
    <% end %>
  <% end %>
  <hr>
<% end %>
